{% extends 'base.html.twig' %}

{% block title %}Accueil Développeur{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <h1>Postes les plus populaires</h1>
        <ul>
            {% for post in mostViewedPosts %}
                <li>
                    <a href="{{ path('page_post', {id: post.id}) }}">{{ post.title }}</a> - {{ post.views }} vues
                </li>
            {% endfor %}
        </ul>

        <h1>Dernières offres publiées</h1>
        <ul>
            {% for post in latestPosts %}
                <li>
                    <a href="{{ path('page_post', {id: post.id}) }}">{{ post.title }}</a> - Publié le {{ post.createdAt|date('d/m/Y') }}
                </li>
            {% endfor %}
        </ul>

        <a href="{{ path('developper_profile', {id: developper.id}) }}" class="btn">Voir Profil Développeur</a>
        <a href="{{ path('developper_edit', {id: developper.id}) }}" class="btn">Modifier Profil</a>
        <a href="{{ path('search_post') }}" class="btn">Rechercher des Postes</a>
    </div>
{% endblock %}